:root {
    /* Sprite List */
    --background: url(../assets/images/background.png);
}

html {
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
}

body {
    width: 100%;
    height: 160vw;
    margin: 0;
    background: linear-gradient(#46a1ff 0 50%, #29ba3d 50% 100%);
}

button:hover {
    opacity: 0.65;
    transition-duration: 0.15s;
}


/* Header */

header {
    user-select: none;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #4d4d4ddb;
    box-shadow: 0 0 5px #000;
    z-index: 9;
}

header span {
    user-select: none;
    font-weight: 600;
    padding: 0 6px;
    width: calc(100% / 3);
    line-height: 30px;
    color: #fff;
}


/* Main */

main {
    top: 30px;
    width: 100%;
    height: 160vw;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: scroll;
}

#player {
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 0 5px 5px #ff0000;
    transition-duration: 0.2s;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
}


/* Controls */

/* Menus */

.menu-menu {
    top: 45px;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.menu-menu, .save-menu, .fishing-menu, .area-menu, .shop-menu {
    user-select: none;
    position: fixed;
    font-family: 'Courier New', monospace;
    padding: 10px;
    background: #4d4d4ddb;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 5px #000;
    transition-duration: 0.1s;
    z-index: 9;
}

.menu-menu button, .save-menu button, .fishing-menu button, .area-menu button, .shop-menu button {
    color: #fff;
    background-color: #656565;
    border: 2px solid #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 #000;
    margin: 3px 2px;
}

.save-menu button[onclick="save(1, true)"] {
    margin: 18px 2px 3px
}

#area-alert, #saving-alert, #shop-alert {
    font-size: 12px;
    color: red;
}


/* Saving/Loading */

.save-menu {
    top: 108px;
    border-radius: 0 10px 10px 0;
}


/* Fishing */

.fishing-menu {
    top: 260px;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.fishing-menu button {
    font-family: 'Courier New', monospace;
    font-weight: 700;
    font-size: 14px;
}


/* Areas */

.area-menu {
    top: 45px;
    right: 0;
    border-radius: 10px 0 0 10px;
}


/* Shop */

.shop-menu {
    top: 108px;
    border-radius: 10px 0 0 10px;
}